.quiz-answers {
  display: flex !important;
  justify-content: center;
  margin-bottom: 20px;
}

.quiz-answers button {
  text-align: center;
  color: var(--secondary);
  background-color: var(--main);
  border-color: var(--secondary) !important;
}

.quiz-answers button:hover {
  color: var(--secondary-alt);
  background-color: var(--secondary);
}
