header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252422;
    color: white;
    padding: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > h5 {
    display: flex;
    align-items: center;
}

.logo > h5 > svg {
    width: 20px;
    height: 32px;
}
