header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252422;
    color: white;
    padding: 0 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}