:root {
  --main: #FEC601;
  --main-alt: #F7EC59;
  --secondary: #252422;
  --secondary-alt: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  color: var(--secondary);
  background-color: var(--main);
}

.h100vh {
  height: 100vh;
}

.mh100vh {
  min-height: 100vh;
}

a {
  color: var(--secondary-alt);
  text-decoration: none;
  margin: 0;
}
